form {
    margin: 2rem auto;

    label,
    br,
    .cf-desc {
        display: none;
    }
}

input,
select,
textarea {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid @lightGrayColor;
    margin: 0 0.5rem;
    resize: none;
}


.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


fieldset {
    .baseElement();
    .container-col();
    .margin(0.5rem);
    margin: 0;
    border: none;
    align-items: center;
}


#answerCommentForm,
#questionCommentForm {
    margin: 0;
    fieldset {
        .container-row();
        box-shadow: none;
        padding: 0;
        width: 100%;

        p:first-of-type {
            width: 100%;
        }
        input {
            margin: 0;
        }
        #form-element-text {
            width: 100%;
        }
    }
}


#answerQuestionForm {
    fieldset {
        align-items: unset;

        textarea {
            margin: 0;
        }
    }
}

.buttonbar {
    display: flex;
    justify-content: center;
}
