.question {
    .baseElement();
    .container-col();

    .profile-image {
        margin-left: 0;
        margin-right: 0;
    }

    p img {
        padding: 3rem 0;
    }

    .comment-area {
        width: unset;
    }

    .tags-area {
        margin-top: 0;
        color: @lightGrayColor;
    }

    h1 {
        margin-bottom: 0.2rem;
        p {
            margin: 0;
        }
    }

    .acceptButton {
        position: absolute;
        align-self: flex-end;
        margin: 0;
        input {
            margin: 0;
            padding: 0 0.5rem;
            background-color: #53d794;
            color: white;
            border: none;
            cursor: pointer;
        }
        input:hover {
            background-color: #259f61;
        }
    }
}


.commentButton {
    background-color: unset;
    border: none;
    width: 3rem;
}

#answerQuestionForm {
    width: 100%;
}


.comment-area {
    .container-row();
    justify-content: flex-end;
    align-items: center;


    .showCommentsButton {
        img {
            margin-left: 0.5rem;
            margin-top: 0.4rem;
        }
    }
}

.count {
    font-size: 0.8rem;
    color: @lightGrayColor;
    margin-bottom: 1rem;
}





.replies {
    margin-top: 2rem;
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x: auto;

    .text {
        justify-content: flex-start;
        margin-left: 1rem;
    }

    .comment-text:not(:last-child) {
        border-bottom: 1px solid @superLightGrayColor;
    }

    .comment-text {
        margin-bottom: 2rem;
        p {
            margin-top: 0.5rem;
        }
    }
}



.user-area {
    .container-row();
    align-items: center;
    .title {
        margin-bottom: 0.2rem;
    }
    .text {
        > * {
            margin: 0;
        }
        justify-content: flex-start;
        margin-left: 0.5rem;
    }
}

.accepted {
    display: flex;
    align-self: flex-end;
}
